!!! 5
%html{lang: 'en'}
  !=haml :head
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-4
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: url_for('/')}
            %img{src: url_for('/images/oxidizing_40px.png'), height: '20em'} Oxidized
          %button.navbar-toggler.collapsed{type: 'button',
                                          :'data-bs-toggle' => 'collapse',
                                          :'data-bs-target' => '#ox-nav',
                                          :'aria-expanded' => 'false'}
            %span.navbar-toggler-icon
        .collapse.navbar-collapse#ox-nav
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item
              %a.nav-link{href: url_for('/nodes/stats'), class: request.path_info == '/nodes/stats' ? 'active' : ''}
                Stats

            %li.nav-item
              %a.nav-link{href: url_for('/migration'), class: request.path_info == '/migration' ? 'active' : ''}
                Migration

          %form.d-flex{role: 'search',
                       action: url_for('/nodes/conf_search'),
                       method: 'post'}
            .input-group#to_search_in_config{name: 'to_search_in_config'}
              %input.form-control.input-sm{type: 'text',
                                           name: 'search_in_conf_textbox',
                                           placeholder: 'Search in Configs'}
              %button.btn.btn-primary.btn-sm{type: 'submit'}
                %i.fas.fa-search

    .container-fluid
      =yield
    !=haml :footer
    %script{src: url_for('/scripts/bootstrap.min.js')}
    %script{src: url_for('/scripts/oxidized.js')}
    %script{src: url_for('/scripts/datatables.min.js')}

